@model IEnumerable<Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var checkout = Context.Request.Cookies["checkoutMsg"];
}

<h1>Cart</h1>
<h2>@checkout</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.inventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.warehouseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photocardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.setName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.inventoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.warehouseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.photocardId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.setName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    int totalPriceInt = 0;
    string totalPrice = "";
    foreach (var item in Model)
    {
        totalPriceInt += (int)item.price;
    }
    totalPrice = totalPriceInt.ToString();
}
<p>TOTAL: $@totalPrice</p>

<form asp-action="Checkout">
    <input type="submit" value="Checkout" class="btn btn-primary" />
</form>

