@model IEnumerable<WebUI.Models.OrderVM>

@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order History</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotocardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateandTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotocardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateandTime)
            </td>
        </tr>
}
    </tbody>
</table>
